# PostgreSQL Database Configuration (TEST)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=change_me_test
DB_DATABASE=voting_system_test

# JWT Configuration (TEST)
JWT_SECRET=change_me_test_secret
JWT_EXPIRATION_TIME=3600s
